:root {
  --bg-hover: oklch(74.312% 0.16403 49.482);
  --text-hover: oklch(0.15 0.05 25);

  --sidebar: oklch(0.93 0.04 58 / 0.7);
  --sidebar-foreground: oklch(0.15 0.05 25);
  --sidebar-primary-foreground: oklch(0.98 0.02 65);
  --sidebar-accent: oklch(0.88 0.06 55 / 0.5);
  --sidebar-accent-foreground: oklch(0.15 0.05 25);
  --sidebar-border: oklch(0.88 0.06 55 / 0.3);
}

body {
  background: linear-gradient(120deg, #ffecd2 0%, #3e7fe7 100%);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: currentColor;
}

.container {
  width: 65vw;
  height: 75vh;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'aside main';
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 32px 0 rgba(31, 38, 135, 0.15);
}

.glass-card {
  background: var(--sidebar); /* Ya usas oklch con alpha, perfecto */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid var(--sidebar-border);
}

/* Sidebar */
aside {
  grid-area: aside;
  padding: 1rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

aside > h2 {
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  border-radius: 100vmax;
  cursor: pointer;
  line-height: 1;
}

.nav-btn:hover {
  background-color: var(--bg-hover);
  color: var(--sidebar-primary-foreground);
  font-weight: 600;
}

.nav-btn.active {
  background-color: var(--bg-hover);
  font-weight: bold;
}

.projects-section {
  width: 100%;
  border-top: 1px solid var(--sidebar-border);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  width: 100%;
  margin-top: auto;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-project-btn:hover {
  border-bottom: 2px solid tomato;
}

/* Main */
main {
  grid-area: main;
  border: 1px solid white;
}
